@import "tailwindcss";

@theme {
  --color-backgroud: #151515;
  --color-main: #f27d16;
  --color-contrast: #e5efff;
  --color-primary: #F27D16;
  --color-focus: #CA640B;
  --color-backgrounDark: #151515;
}

