---
import logo from "./../assets/logos/xprsWhite.svg";
import Stats from "./Stats";
---

<section class="my-20 pt-15" id="about">
  <h2
    class="font-bold text-amber-600 text-4xl text-center md:text-left mb-16 ml-4 sm:ml-20"
  >
    ¿Quienés somos?
  </h2>

  <div class="grid md:grid-cols-2 mb-8">
    <div class="flex flex-col items-center justify-items-center">
      <img class="w-2/3 p-4" src={logo.src} alt="logo" loading="lazy" />
    </div>
    <div>
      <p class="font-semibold text-center md:text-left text-white mb-4 p-2">
        Equipo desarrollo de software especializado en la creación de soluciones
        a la medida. Nos apasiona transformar ideas en productos digitales
        funcionales, atractivos y eficientes.
      </p>
      {/* <div class="grid grid-cols-3 gap-4">
        <Stats highlight="0" description="Clientes" />

        <Stats highlight="0" description="Ventas" />

        <Stats highlight="0" description="Sponsors" />
      </div>*/}
    </div>
  </div>
</section>
