---
import CopyEmailButton from "./CopyEmailButton.astro";
import ContactForm from "./ContactForm.astro";
---

<section
  class="h-1/2 flex flex-col lg:flex-row justify-around items-center text-white px-4 py-15 gap-10"
  id="contacto"
>
  <!-- Info / redes -->
  <div
    class="w-full lg:w-1/2 flex flex-col items-center justify-center gap-5 text-lg"
  >
    <p class="mb-4 text-4xl font-bold">Contáctanos</p>
    <p class="text-center">Puedes encontrarnos en WhatsApp Business</p>
    <a
      href="https://wa.me/5212215859936"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/src/assets/logos/WhatsAppLogo2.svg"
        alt="WhatsApp_Logo"
        class="w-16 h-16 transition-transform duration-300 transform hover:scale-110"
        loading="lazy"
      />
    </a>
    <div class="h-px w-48 bg-primary"></div>
    <p class="text-center">Visita nuestra página de Facebook</p>
    <a
      href="https://www.facebook.com/share/18wufDvuwq/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="/src/assets/logos/SquareFacebookLogo.svg"
        alt="Facebook_Logo"
        class="w-16 h-16 transition-transform duration-300 transform hover:scale-110"
        loading="lazy"
      />
    </a>
    <div class="h-px w-48 bg-primary"></div>
    <p class="text-center">Envíanos un correo</p>
    <CopyEmailButton email="xprs.tec@gmail.com" />
  </div>

  <p class="text-2xl hidden md:block">ó</p>

  <!-- Formulario -->
  <div class="w-full lg:w-1/2 flex items-center justify-center">
    <ContactForm />
  </div>
</section>
