<h2>Servicios</h2>

<div>
    <img src="#">
    <p> Landing page </p>
    <p> Sitio estatico a la medida que capta la atencion de los condumidores </p>
    <input type="button" value="más infórmacion">
</div>

<div>
    <img src="#">
    <p> Landing page </p>
    <p> Sitio estatico a la medida que capta la atencion de los condumidores </p>
    <input type="button" value="más infórmacion">
</div>

<div>
    <img src="#">
    <p> Landing page </p>
    <p> Sitio estatico a la medida que capta la atencion de los condumidores </p>
    <input type="button" value="más infórmacion">
</div>