---
import { Image } from "astro:assets";

const { title, src, text } = Astro.props;
---

<div class="justify-items-center mb-6">
    <Image
        src={src}
        alt="laptop"
        width="400"
        height="400"
        class="rounded-full w-50 h-50 object-cover mb-8"
    />
    <p class="mb-8">{title}</p>
    <p class="text-center w-64 mb-6">
        {text}
    </p>
    <input
        type="button"
        value="más infórmacion"
        class="border-2 border-solid"
    />
</div>
