---
import Service from "./Service.astro";
import ImageLaptop from "../images/desarrollo.jpg";
---

<h2>Servicios</h2>

<Service
    title="Landing Page"
    src={ImageLaptop}
    text="Sitio estatico a la medida que captura la atencion de los consumidores"
/>

<Service
    title="Apps multiplataforma"
    src={ImageLaptop}
    text="Sitio estatico a la medida que captura la atencion de los consumidores"
/>

<Service
    title="SEO"
    src={ImageLaptop}
    text="Sitio estatico a la medida que captura la atencion de los consumidores"
/>
