---
const logos = [
  { name: "Astro" },
  { name: "Java" },
  { name: "JavaScript" },
  { name: "MongoDB" },
  { name: "MySql" },
  { name: "Nodejs" },
  { name: "Php" },
  { name: "React" },
  { name: "Spring" },
  { name: "SqlLite" },
];
---
<style>
    swiper-container {
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }

 /* Fuerza la animación continua */
 .swiper-container.swiper-container-initialized {
    transition-timing-function: linear !important;
  }
</style>

<section class="overflow-hidden justify-center items-center relative w-full" id="tech">
  <swiper-container class="mySwiper" space-between="0" loop slides-per-view="6"
      centered-slides="true" autoplay-delay="0" autoplay-disable-on-interaction="false" speed="4000" allow-touch-move="false" animating="false">
    {
      logos.map((logo, i) => (
        <swiper-slide key={i}>
          <img
            src={`/assets/techs/${logo.name}.svg`}
            alt={logo.name}
            loading="lazy"
            class="w-20 h-20 p-5 object-contain"
          />
        </swiper-slide>
      ))
    }
  </swiper-container>
  <div
    class="w-4/10 h-full bg-gradient-to-r from-backgroud to-transparent absolute top-0 left-0 z-10"
  >
  </div>
  <div
    class="w-4/10 h-full bg-gradient-to-l from-backgroud to-transparent absolute top-0 right-0 z-10"
  >
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

