---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
import 'swiper/element/bundle';
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>XPRS</title>
  </head>
  <body class="bg-backgroud">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script type="module" is:inline>
      import { register } from 'swiper/element/bundle';
      register();
    </script>
  </body>
</html>

<style></style>
